@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
  height: 100%;
}

body {
  margin: 0 65px;
  min-height: 100vh;
  background: #19191b;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

/* for all component */
.container {
}
/* for all component */

/* nav start */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  color: #ffffff;
}

.nav-logo img {
  margin-right: 8px;
}

.nav-logo__text {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 40px 0 0;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);

  text-align: right;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.navbar a:hover {
  color: #ff5151;
}

.nav-contact--btn {
  border-radius: 5px;
  border: 1px solid #fff;
  backdrop-filter: blur(1px);
  width: 157px;
  height: 44px;
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  transition: background 0.3s ease; /* Added duration to the transition */
}

.nav-contact--btn:hover {
  background: #ff5151;
}

/* nav end */

footer {
  margin-top: auto;
  width: 100%;
  height: 380px;
  background: red;
  color: aliceblue;
}
